<div class="container">
  <h1 style="margin: 30px 0">Demandes d'ajout de service</h1>
  <hr />

  <div>
    <h3>Entreprise Nettoyage</h3>
    <div>
      <h5>Micheline Dumond - Michmich@gmail.com</h5>
      <br />
      Bonjour, <br />
      Nous sommes une entreprise de nettoyage à proximité. Nous souhaiterions<br />
      vous proposer nos services. Vous pouvez contacter notre responsable à tout
      moment.<br />
      Merci à vous, <br />
      Cordialement, Micheline.
    </div>
  </div>
  <hr />
  <div>
    <h3>Entreprise Nettoyage</h3>
    <div>
      <h5>Micheline Dumond - Michmich@gmail.com</h5>
      <br />
      Bonjour, <br />
      Nous sommes une entreprise de nettoyage à proximité. Nous souhaiterions<br />
      vous proposer nos services. Vous pouvez contacter notre responsable à tout
      moment.<br />
      Merci à vous, <br />
      Cordialement, Micheline.
    </div>
  </div>
  <hr />
  <div>
    <h3>Entreprise Nettoyage</h3>
    <div>
      <h5>Micheline Dumond - Michmich@gmail.com</h5>
      <br />
      Bonjour, <br />
      Nous sommes une entreprise de nettoyage à proximité. Nous souhaiterions<br />
      vous proposer nos services. Vous pouvez contacter notre responsable à tout
      moment.<br />
      Merci à vous, <br />
      Cordialement, Micheline.
    </div>
  </div>
</div>
