.background {
  background-image: url("../../../assets/images/trees.jpg");
  height: 600px;
  overflow: hidden;
  color: white;
  font-size: 52px;
  text-align: center;
  margin: auto;
  font-weight: bold;
}
