<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HackaGaume</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Annonces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Evénements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Location salles et matériel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Coworking Network</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="background">
  <div class="container" style="line-height: 550px">
    <div style="text-shadow: rgb(37, 56, 39) 2px 0 10px">
      La conciergerie connectée
    </div>
  </div>
</div>

<div class="container text-center">
  <br />
  <br />
  <h1 class="thin">Tiers-Lieux</h1>
  <br />
  <p class="text-muted" style="text-align: justify">
    Les tiers-lieux, appelés aussi espaces de travail partagés et collaboratifs
    désignent des lieux de travail où la créativité peut naître entre différents
    acteurs, où la flexibilité répond aux difficultés économiques du champ
    entrepreneurial. Ils permettent aux actifs de travailler à distance, à
    proximité de leur domicile et dans le même confort, dans des lieux aussi
    bien équipés et aménagés que l’entreprise. Ils permettent aussi aux
    personnes de trouver une solution alternative au fonctionnement
    traditionnel, de croiser des mondes qui ne se seraient pas rencontrés par
    ailleurs, de favoriser des échanges grâce aux animations et évènements mis
    en place.
  </p>
  <br />
  <br />
</div>

<div
  style="padding: 20px; margin: 20px 0; background-color: rgb(243, 246, 250)"
>
  <div class="container">
    <div class="row">
      <h1>Services</h1>
    </div>
    <br />
    <div class="row mt-5 justify-content-center">
      <div *ngFor="let service of services">
        <app-service [service]="service"></app-service>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1>Clients</h1>
  </div>
  <section id="clients" class="clients">
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/clients/client-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/clients/client-2.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/clients/client-3.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/clients/client-4.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/clients/client-5.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/clients/client-6.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/clients/client-7.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/clients/client-8.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</div>

<div>
  <footer class="border-top footer text-muted">
    <div class="container">&copy; 2021 - HackaGaume</div>
  </footer>
</div>
