.background {
  background-image: url("../../../assets/images/trees2.jpg");
  background-repeat: no-repeat;
  height: 600px;
  overflow: hidden;
  color: white;
  font-size: 52px;
  text-align: center;
  margin: auto;
  font-weight: bold;
}

footer {
  margin-top: 60px;
  left: 0;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .clients-wrap {
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.clients .client-logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fff;
  height: 100px;
}

.clients .client-logo img {
  transition: all 0.3s ease-in-out;
  height: 36px;
  filter: grayscale(100%);
}

.clients .client-logo:hover img {
  filter: none;
  transform: scale(1.1);
}

.row {
  padding: 20px;
}
