<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="background">
  <div class="container" style="line-height: 550px">
    <div>HackaGaume</div>
  </div>
</div>

<div class="container text-center">
  <br />
  <br />
  <h1 class="thin">Tiers-Lieux</h1>
  <br />
  <p class="text-muted" style="text-align: left">
    Les tiers-lieux, appelés aussi espaces de travail partagés et collaboratifs
    désignent des lieux de travail où la créativité peut naître entre différents
    acteurs, où la flexibilité répond aux difficultés économiques du champ
    entrepreneurial. Ils permettent aux actifs de travailler à distance, à
    proximité de leur domicile et dans le même confort, dans des lieux aussi
    bien équipés et aménagés que l’entreprise. Ils permettent aussi aux
    personnes de trouver une solution alternative au fonctionnement
    traditionnel, de croiser des mondes qui ne se seraient pas rencontrés par
    ailleurs, de favoriser des échanges grâce aux animations et évènements mis
    en place.
  </p>
  <br />
  <br />
</div>

<div class="container">
  <div class="row">
    <h1>Services</h1>
  </div>
  <br />
  <div class="row mt-5 justify-content-center">
    <div *ngFor="let service of services">
      <app-service [service]="service"></app-service>
    </div>
  </div>
</div>

<div class="container">
  <h1>Clients</h1>
</div>
