<div class="container">
  <h1 style="margin: 20px 0">Annonces</h1>
  <hr />
  <div>
    <h4>John Doe</h4>
    John.Doe@gw.com 0490.00.00.00
  </div>
  <p>
    J'aurais besoin d'une personne disposant d'une imprimante 3d pour réaliser
    des pièces.<br />
    Je rémunère l'utilisation de la machine et la consommation de fils.
  </p>
  <hr />
  <div>
    <h4>John Doe</h4>
    John.Doe@gw.com 0490.00.00.00
  </div>
  <p>
    Je vous aide à trouver un job dans votre domaine. Spécialisé depuis 15 ans.
    <br />
    Je rédige également votre CV en votre compagnie. Service payant.
  </p>
  <hr />

  <div>
    <h4>John Doe</h4>
    John.Doe@gw.com 0490.00.00.00
  </div>
  <p>
    Suivi scolaire de votre enfant par vidéoconférence. Possibilité de donner
    <br />
    des cours particuliers contre rémunération. Tarif à discuter.
  </p>
  <hr />

  <div>
    <h4>John Doe</h4>
    John.Doe@gw.com 0490.00.00.00
  </div>
  <p>
    Cherche courgettes de saison! J'achète un ou deux kilos pour préparer le
    pesto! <br />
    Je cherche aussi un co-voiturage, mais ça c'est secondaire.
  </p>
  <hr />

  <div>
    <h4>John Doe</h4>
    John.Doe@gw.com 0490.00.00.00
  </div>
  <p>
    Recherche quelqu'un pour faire la maquette de notre Projet HackAGaume ;).
    <br />
    Toute aide est bienvenue! <br />
    En échange, je fais la vaisselle.
  </p>
  <hr />

  <div>
    <h4>John Doe</h4>
    John.Doe@gw.com 0490.00.00.00
  </div>
  <p>
    Cherche co-voiturage pour Neufchâteau, tous les mercredis.<br />
    Je suis seule et voyage sans animal.
  </p>
</div>
